
@using SurveyPackage.Controllers

@model SurveyPackage.Models.Survey

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="mb-3">
                @using (Html.BeginUmbracoForm<SubmitController>
       (nameof(SubmitController.SubmitForm), FormMethod.Post))

                {
                    @foreach (var item in Model.categorylist)
                    {

                        @Html.RadioButtonFor(m => m.category, item) @item
                    }
                    <button class="btn btn-blue" type="submit">
                        Submit
                    </button>
                }
            </div>
        </div>
    </div>
</div>